#main{
    display: grid;
    grid-template-columns: repeat(3,70vh);
    gap: 20px;
}
.card{
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
}
#box{
    width: 400px;
    height: 40px;
}
#btn{
    
    width: 56px;
    height: 40px;
}